<div class="page">
  <div class="client-success section--bg-white">
    <div class="success-story">
      {{! <nav id="index-4">
      <a class="show-for-sr show-on-focus" href="#index-5">Skip To Next Content</a>
    </nav> }}
      <div class="success-story__container--left">
        <div class="success-story__content">
          <img
            src="{{path '/img/LPL-Financial.svg'}}"
            alt="LPL Financial"
            class="success-story__logo"
          />
          <div class="success-story__copy">
            <h5 class="success-story__header">The in-house agency at LPL
              Financial relies on us for support that’s right on the money.</h5>
            <div
              class="p--body-extra-small-emphasis success-story__subheader"
            >Services used:
              <span
                class="p--body-extra-small success-story__subheader-highlight"
              >Service One, Service Two</span></div>
            <p class="p--body success-story__copy-text">LPL Financial manages
              over 1 trillion in assets. That’s some serious money. Our Aquent
              Studios division provides some serious support for their in-house
              agency, including help launching a digital media center and a
              company-wide rebrand.</p>
          </div><!-- .success-story__copy -->
        </div><!-- .success-story__content -->
        <div class="success-story__images">
          <img
            src="{{path '/img/FPO-1-1.png'}}"
            alt="LPL Financial"
            class="success-story__image-main"
          />
          <img
            src="{{path '/img/FPO-4-3v.png'}}"
            alt="LPL Financial"
            class="success-story__image-sub"
          />
        </div><!-- .success-story__images -->
      </div><!-- .success-story__container -->
    </div><!-- .success-story -->

    <div class="success-story">
      {{! <nav id="index-4">
      <a class="show-for-sr show-on-focus" href="#index-5">Skip To Next Content</a>
    </nav> }}
      <div class="success-story__container--right">
        <div class="success-story__content">
          <div class="success-story__logo"><img
              src="{{path '/img/LPL-Financial.svg'}}"
              alt="LPL Financial"
            /></div>
          <div class="success-story__copy">
            <h5 class="success-story__header">The in-house agency at LPL
              Financial relies on us for support that’s right on the money.</h5>
            <div
              class="p--body-extra-small-emphasis success-story__subheader"
            >Services used:
              <span
                class="p--body-extra-small success-story__subheader-highlight"
              >Service One, Service Two</span></div>
            <p class="p--body success-story__copy-text">LPL Financial manages
              over 1 trillion in assets. That’s some serious money. Our Aquent
              Studios division provides some serious support for their in-house
              agency, including help launching a digital media center and a
              company-wide rebrand.</p>
          </div><!-- .success-story__copy -->
        </div><!-- .success-story__content -->
        <div class="success-story__images">
          <div class="success-story__image-main"><img
              src="{{path '/img/FPO-1-1.png'}}"
              alt="LPL Financial"
            /></div>
          <div class="success-story__image-sub"><img
              src="{{path '/img/FPO-4-3v.png'}}"
              alt="LPL Financial"
            /></div>
        </div><!-- .success-story__images -->
      </div><!-- .success-story__container -->
    </div><!-- .success-story -->

  </div><!-- .client-success -->
</div>